body {
  background-color: #F4E185;
}

h1 {
  color: #0F2C67;
}

h3 {
  color: #CD1818;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #F3950D;
  border-width: 5px;
  width: 5%;

}

#profile-photo {
  border-radius: 100%;
}
